
obj/Debug/Views/StudentView.g.i.cs
obj/Debug/Views/StudentView.g.cs
obj/Debug/Views/EmployeeView.g.i.cs
obj/Debug/Views/EmployeeView.g.cs
obj/Debug/Views/CourseView.g.i.cs
obj/Debug/Views/CourseView.g.cs
obj/Debug/OpenUniversity_MarkupCompile.lref
obj/Debug/OpenUniversity_MarkupCompile.cache
obj/Debug/OpenUniversity.csprojAssemblyReference.cache
obj/Debug/OpenUniversity.csproj.CoreCompileInputs.cache
obj/Debug/MainWindow.g.i.cs
obj/Debug/MainWindow.g.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/App.g.i.cs
obj/Debug/App.g.cs
.vs/OpenUniversity/v16/Server/sqlite3/storage.ide-wal
.vs/OpenUniversity/v16/Server/sqlite3/storage.ide-shm
.vs/OpenUniversity/v16/Server/sqlite3/storage.ide
.vs/OpenUniversity/v16/Server/sqlite3/db.lock
.vs/OpenUniversity/v16/.suo
obj/Debug/OpenUniversity.csproj.FileListAbsolute.txt
