
obj/Debug/Views/StudentView.g.i.cs
obj/Debug/Views/StudentView.g.cs
obj/Debug/Views/EmployeeView.g.i.cs
obj/Debug/Views/EmployeeView.g.cs
obj/Debug/Views/CourseView.g.i.cs
obj/Debug/Views/CourseView.g.cs
obj/Debug/OpenUniversity_MarkupCompile.lref
obj/Debug/OpenUniversity_MarkupCompile.cache
obj/Debug/OpenUniversity.csprojAssemblyReference.cache
obj/Debug/OpenUniversity.csproj.CoreCompileInputs.cache
obj/Debug/MainWindow.g.i.cs
obj/Debug/MainWindow.g.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/App.g.i.cs
obj/Debug/App.g.cs
.vs/OpenUniversity/v16/Server/sqlite3/storage.ide-wal
.vs/OpenUniversity/v16/Server/sqlite3/storage.ide-shm
.vs/OpenUniversity/v16/Server/sqlite3/storage.ide
.vs/OpenUniversity/v16/Server/sqlite3/db.lock
.vs/OpenUniversity/v16/.suo
obj/Debug/OpenUniversity.csproj.FileListAbsolute.txt
bin/Debug/OpenUniversity.exe
bin/Debug/OpenUniversity.exe.config
bin/Debug/OpenUniversity.pdb
obj/Debug/MainWindow.baml
obj/Debug/OpenUniversity.csproj.GenerateResource.cache
obj/Debug/OpenUniversity.exe
obj/Debug/OpenUniversity.g.resources
obj/Debug/OpenUniversity.pdb
obj/Debug/OpenUniversity.Properties.Resources.resources
obj/Debug/Views/CourseView.baml
obj/Debug/Views/EmployeeView.baml
obj/Debug/Views/StudentView.baml
bin/Debug/EntityFramework.dll
bin/Debug/EntityFramework.SqlServer.dll
bin/Debug/EntityFramework.SqlServer.xml
bin/Debug/EntityFramework.xml
obj/Debug/OpenUniversity.csproj.CopyComplete
obj/Debug/OpenUniversity_MarkupCompile.i.cache
packages/EntityFramework.6.3.0/.signature.p7s
packages/EntityFramework.6.3.0/build/EntityFramework.props
packages/EntityFramework.6.3.0/build/EntityFramework.targets
packages/EntityFramework.6.3.0/build/Microsoft.Data.Entity.Build.Tasks.dll
packages/EntityFramework.6.3.0/buildTransitive/EntityFramework.props
packages/EntityFramework.6.3.0/buildTransitive/EntityFramework.targets
packages/EntityFramework.6.3.0/content/net40/App.config.install.xdt
packages/EntityFramework.6.3.0/content/net40/App.config.transform
packages/EntityFramework.6.3.0/content/net40/Web.config.install.xdt
packages/EntityFramework.6.3.0/content/net40/Web.config.transform
packages/EntityFramework.6.3.0/EntityFramework.6.3.0.nupkg
packages/EntityFramework.6.3.0/lib/net40/EntityFramework.dll
packages/EntityFramework.6.3.0/lib/net40/EntityFramework.SqlServer.dll
packages/EntityFramework.6.3.0/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.3.0/lib/net40/EntityFramework.xml
packages/EntityFramework.6.3.0/lib/net45/EntityFramework.dll
packages/EntityFramework.6.3.0/lib/net45/EntityFramework.SqlServer.dll
packages/EntityFramework.6.3.0/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.3.0/lib/net45/EntityFramework.xml
packages/EntityFramework.6.3.0/lib/netstandard2.1/EntityFramework.dll
packages/EntityFramework.6.3.0/lib/netstandard2.1/EntityFramework.SqlServer.dll
packages/EntityFramework.6.3.0/lib/netstandard2.1/EntityFramework.SqlServer.xml
packages/EntityFramework.6.3.0/lib/netstandard2.1/EntityFramework.xml
packages/EntityFramework.6.3.0/tools/about_EntityFramework6.help.txt
packages/EntityFramework.6.3.0/tools/EntityFramework6.PS2.psd1
packages/EntityFramework.6.3.0/tools/EntityFramework6.PS2.psm1
packages/EntityFramework.6.3.0/tools/EntityFramework6.psd1
packages/EntityFramework.6.3.0/tools/EntityFramework6.psm1
packages/EntityFramework.6.3.0/tools/init.ps1
packages/EntityFramework.6.3.0/tools/install.ps1
packages/EntityFramework.6.3.0/tools/net40/any/ef6.exe
packages/EntityFramework.6.3.0/tools/net40/any/ef6.pdb
packages/EntityFramework.6.3.0/tools/net40/win-x86/ef6.exe
packages/EntityFramework.6.3.0/tools/net40/win-x86/ef6.pdb
packages/EntityFramework.6.3.0/tools/net45/any/ef6.exe
packages/EntityFramework.6.3.0/tools/net45/any/ef6.pdb
packages/EntityFramework.6.3.0/tools/net45/win-x86/ef6.exe
packages/EntityFramework.6.3.0/tools/net45/win-x86/ef6.pdb
packages/EntityFramework.6.3.0/tools/netcoreapp3.0/any/ef6.dll
packages/EntityFramework.6.3.0/tools/netcoreapp3.0/any/ef6.pdb
packages/EntityFramework.6.3.0/tools/netcoreapp3.0/any/ef6.runtimeconfig.json
