<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <!-- MWWM link https://blogs.msdn.microsoft.com/johngossman/2005/10/08/introduction-to-modelviewviewmodel-pattern-for-building-wpf-apps/ -->
        <!-- TreeView example https://www.codeproject.com/Articles/26288/Simplifying-the-WPF-TreeView-by-Using-the-ViewMode -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="databasetype" value="mssql"/>
    <add key="filepath" value="d:\\system\\"/>
  </appSettings>
  <connectionStrings>
    <!-- <add name="OpenUniversityDBEntities" connectionString="" providerName="System.Data.EntityClient" /> -->
    <!-- <add name="OpenUniversityDBEntities" connectionString="Server=DKCPN01749\SQLEXPRESS2017;Database=openuni;Uid=openuni;Pwd=openuni;" providerName="System.Data.SqlClient" />-->
    <add name="OpenUniversityDBEntities" connectionString="Server=localhost\SQLEXPRESS2017;Database=openuni;Uid=openuni;Pwd=openuni;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>